@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="row">
    <div class="col-md-12 text-center text-black fs-4 fw-bold">
        In page:
    </div>
</div>

<div class="row ">
    <div class="col-2 text-center text-black fs-5">Login:</div>
    <div class="col-10 text-left">You can login with your e-mail and password.</div>
</div>

<div class="row ">
    <div class="col-2 text-center text-black fs-5">Index-1:</div>
    <div class="col-10 text-left">You can see our items with their names, id's and quantities.</div>
</div>

<div class="row ">
    <div class="col-2 text-center text-black fs-5">AddNews:</div>
    <div class="col-10 text-left">You can add your txt files with given format and see it as a table.</div>
</div>
